@font-face {
    font-family: "iconfont"; /* Project id  */
    src: url('iconfont.ttf?t=1658390224204') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: burlywood;
}

.icon-warning-fill::before {
    content: "\e790";
}

.icon-warning::before {
    content: "\e682";
}

